/* Big screen :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    .title__top ul a {
        width: max-content;
    }
    
    .title__top {
        flex-wrap: wrap;
        gap: 20px;
    }

.atores__title {
    justify-content: center !important;
    gap: 10px;
    flex-direction: column !important;
}

.profile__wrp .title__top ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px;
}
    
    .footer__content h3,.footer__nav h3 {
        font-size: 24px;
    }
    .menu-area nav ul li a {
        font-size: 18px;
    }
    
    .menu-area nav ul {
        gap: 30px;
    }
    
    .hero__item h1 {
        font-size: 42px;
    }
    
    .hero__item .container > p {
        font-size: 18px;
        max-width: 696px;
    }
    .profile__wrp .col-xl-3 {
        width: 33.3%;
    }
}


/* Normal screen :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    h3{
        font-size: 24px;
    }
    .title__top ul a {
        width: max-content;
        font-size: 14px;
    }
    
    .title__top {
        flex-wrap: wrap;
        gap: 20px;
    }

.atores__title {
    justify-content: center !important;
    gap: 10px;
    flex-direction: column !important;
}

.profile__wrp .title__top ul {
    flex-wrap: wrap;
    justify-content: center;
}
    
    .footer__content h3,.footer__nav h3 {
        font-size: 24px;
    }
    .menu-area nav ul li a {
        font-size: 16px;
    }
    
    .menu-area nav ul {
        gap: 30px;
        margin-left: -35px;
    }
    
    .hero__item h1 {
        font-size: 36px;
    }
    
    .hero__item .container > p {
        font-size: 16px;
        max-width: 620px;
    }
    .title__top ul{
    gap: 10px;
}
.logo-area {
    max-width: 150px;
}

.header__icon ul li a img {
    max-width: 24px;
    height: 24px;
}

.header__icon ul li a {
    height: 48px;
}

.userBtn {
    width: 50px;
    height: 27px;
    margin: 0;
}

.hero__item .duration-wrp {
    font-size: 16px;
    max-width: 380px;
}

.border__btn {
    padding: 12px 24px;
}

.hero__item__btn a {
    font-size: 16px;
}

.play__btn img {
    max-width: 68px;
}

.movie__blk > p {
    font-size: 15px;
}

.filter__blk {
    padding: 30px 20px;
}

.pagiNav ul li a {
    width: 45px;
    height: 45px;
    font-size: 16px;
}

.trailer__tab__btn a > i {
    height: 120px;
}

.trailer__tab__content {
    height: 349px;
}
.trailer-area{
    padding: 60px 0 0;
}

.movie__wrp .movie__blk {
    width: calc(25% - 20px);
}
.sec__padding{
    padding: 70px 0;
}
.profile__content {
    max-width: 380px;
}
.user__info.v2 h3 {
    font-size: 20px;
}

.user__info.v2 p {
    font-size: 13px;
    margin-right: -10px;
}

.user__info.v2 p b {
    font-size: 13px;
}

.user__info > b {
    font-size: 15px;
}
.filme__img {
    max-width: 340px;
}

.filme__content {
    margin-left: -50px;
}

.icon__link {
    width: 48px;
    height: 48px;
    border-width: 1px;
}

.icon__link img {
    max-width: 24px;
}
.filme__wrp {
    padding-top: 80px;
}

.Comment__text {
    padding-left: 20px;
}
}

 
/* Tablet screen :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    :root{ 
        --f18 : 15px;
        --f20 : 16px;
        --f22 : 18px;
        --f24 : 20px;
        --f28 : 22px;
        --f30 : 23px;
        --f32 : 24px;
        --f36 : 26px;
        --f40 : 30px;
        --f48 : 32px;
        --f60 : 40px;
      
      }
      .header-area{
    padding: 20px 0;
}
      .menu-area {
        display: none;
    }
    .only__mobile{
    display: block;
}
    .title__top ul a {
        width: max-content;
        font-size: 14px;
    }
    
    .title__top {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    
    .footer__content h3,.footer__nav h3 {
        font-size: 20px;
    }

.footer__logo {
    max-width: 150px;
}
    .menu-area nav ul li a {
        font-size: 16px;
    }
    
    .menu-area nav ul {
        gap: 30px;
        margin-left: -35px;
    }
    
    .hero__item h1 {
        font-size: 36px;
    }

.filme__content > h1 {
    font-size: 30px;
}
    
    .hero__item .container > p {
        font-size: 16px;
        max-width: 620px;
    }
    .title__top ul{
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.logo-area {
    max-width: 150px;
}

.header__icon ul li a img {
    max-width: 30px;
    height: 30px;
}

.header__icon ul li a {
    height: 48px;
}

.userBtn {
    width: 50px;
    height: 27px;
    margin: 0;
    margin-right: 10px;
}

.userBtn img {
    max-width: 24px !important;
    height: 24px !important;
}

.hero__item .duration-wrp {
    font-size: 16px;
    max-width: 380px;
}

.border__btn {
    padding: 12px 24px;
}

.hero__item__btn a {
    font-size: 16px;
}

.play__btn img {
    max-width: 68px;
}

.movie__blk > p {
    font-size: 15px;
}

.filter__blk {
    padding: 30px 20px;
    max-width: 500px;
    margin-inline: auto;
    margin-bottom: 30px;
}

.pagiNav ul li a {
    width: 45px;
    height: 45px;
    font-size: 16px;
}

.trailer__tab__btn a > i {
    height: 120px;
}

.trailer__tab__content {
    height: 350px;
    max-width: 600px;
    margin: auto;
}
.trailer-area{
    padding: 60px 0 0;
}

section.trailer-area .title__top {
    justify-content: space-between;
    max-width: 600px;
    margin-inline: auto;
}
.finding__content h3 {
    text-align: center;
}

.trailer__tab__btn {
    max-width: 599px;
    margin: auto;
    margin-top: 30px;
}
.footer__nav {
    margin-left: -30px;
}
.movie__wrp .movie__blk {
    width: calc(33% - 14px);
}
.sec__padding{
    padding: 70px 0;
}
.movie__slider:after{
    width: 217px;
}

.profile__content {
    height: auto;
    padding: 30px;
    max-width: 450px;
    margin-inline: auto;
}
.profile__flex {
    flex-direction: column;
}

.user__blk {
    flex-direction: column;
    text-align: center;
}
.filme__img {
    max-width: 340px;
}

.filme__content {
}

.filme__content .hero__item__btn {
    flex-wrap: wrap;
    gap: 20px;
    margin-right: -20px;
    /* justify-content: center; */
}

.icon__link {
    width: 48px;
    height: 48px;
    border-width: 1px;
}

.icon__link img {
    max-width: 24px;
}
.filme__wrp {
    padding-top: 80px;
}

.Comment__text {
    padding-left: 20px;
    margin-top: 40px;
}
.hero__item.withoverlapping { 
    padding-bottom: 230px;
    padding-top: 50px;
}

section.content_v_playar.serie_unica .content_playar_filter .title__top ul.should_flex li{
    width: 100%;
}
.series_videos .select__blk {
    height: 80px; 
    padding-right: 0;
    margin-bottom: 30px;
}
section.content_v_playar.serie_unica{
    margin-top: 50px;
}



}

 
/* small screen :320px. */
@media (max-width: 767px) {
    :root{

--f18 : 15px;

--f20 : 16px;

--f22 : 18px;

--f24 : 20px;

--f28 : 22px;

--f30: 22px;

--f32 : 24px;

--f36 : 26px;

--f40 : 30px;

--f48 : 32px;

--f60 : 40px;

}
      .header-area{
    padding: 20px 0;
}
      .menu-area {
        display: none;
    }
    .only__mobile{
    display: block;
}
    .title__top ul a {
        width: max-content;
        font-size: 14px;
    }
    
    .title__top {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

.title__top.atores__title {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;
}
    
    .footer__content h3,.footer__nav h3 {
        font-size: 18px;
    }

.footer__logo {
    max-width: 130px;
    margin-inline: auto;
}
    .menu-area nav ul li a {
        font-size: 16px;
    }
    
    .menu-area nav ul {
        gap: 30px;
        margin-left: -35px;
    }
    
    .hero__item h1 {
        font-size: 24px;
    }
    
    .hero__item .container > p {
        font-size: 16px;
        max-width: 620px;
    }
    .title__top ul{
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.logo-area {
    max-width: 124px;
}

.header__icon ul li a img {
    max-width: 30px;
    height: 30px;
}

.header__icon ul li a {
    height: 30px;
    padding: 0;
}
.userBtn {
    width: 50px;
    height: 27px;
    margin: 0;
    margin-right: 10px;
}
.notifiBtn {
    margin-left: 3px;
    margin-right: 7px;
}

.userBtn img {
    max-width: 24px !important;
    height: 24px !important;
}

.hero__item .duration-wrp {
    font-size: 14px;
    max-width: 380px;
    margin-inline: auto;
    flex-wrap: wrap;
}
.hero__item .duration-wrp p {
    gap: 5px;
}
.border__btn {
    padding: 12px 24px;
}

.hero__item__btn a {
    font-size: 16px;
}

.play__btn img {
    max-width: 68px;
}

.movie__blk > p {
    font-size: 15px;
}

.filter__blk {
    padding: 30px 20px;
    max-width: 500px;
    margin-inline: auto;
    margin-bottom: 30px;
    gap: 20px;
}

.pagiNav ul li a {
    width: 40px;
    height: 40px;
    font-size: 14px;
}

.trailer__tab__btn a > i {
    height: 70px;
    min-width: 120px;
    border-radius: 10px;
    max-width: 122px;
}

.trailer__tab__btn a .duration-wrp {
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 220px;
    gap: 10px;
}

.trailer__tab__btn a .duration-wrp h5 {
    flex-basis: 100%;
    font-size: 14px;
    font-weight: 500;
}

.trailer__tab__btn a {
    margin-inline: auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.trailer__tab__content {
    height: 202px;
    max-width: 350px;
    margin: auto;
}
.trailer-area{
    padding: 60px 0 0px;
}

.finding__content h3 {
    text-align: center;
}

.trailer__tab__btn {
    max-width: 599px;
    margin: auto;
    margin-top: 30px;
}
.footer__nav {text-align: center;}
.hero__item__btn {
    flex-direction: column;
}


.hero__item {
    min-height: 680px;
    text-align: center;
}

.movie__slider {
    max-width: 265px;
    margin-inline: auto;
}

.movie__slider:after {
    display: none;
}
.footer__content {
    text-align: center;
    margin-bottom: 30px;
}

.footer__content a {
    font-size: 14px;
    margin: auto;
}

.footer__content p {
    margin-inline: auto;
}
.finding__wrp .movie__blk {
    max-width: 260px;
    margin-inline: auto;
}
.hero__slider .owl-dots {
    bottom: 35px;
    right: 120px;
}

.hero__slider .owl-nav {
    bottom: 25px;
}

.owl-nav i {
    width: 40px;
    height: 40px;
}

.owl-nav i img {
    width: 9px;
}

.movie__wrp .movie__blk {
    width: 100%;
    max-width: 250px;
    margin-inline: auto;
}
.sec__padding{
    padding: 60px 0;
}

.filmes-page .finding-area{
    padding-top: 30px;
}

.filmes-page .movie-area .container {
    width: 100%;
    max-width: 570px;
}
.profile__content {
    height: auto;
    padding: 30px 20px;
    max-width: 100%;
    margin-inline: auto;
}
.profile-area{
    margin: 20px 0 0;
}
.profile__flex {
    flex-direction: column;
}

.user__blk {
    flex-direction: column;
    text-align: center;
}
.profile__wrp .row {
    gap: 20px 0;
}
.profile__wrp .movie__blk {
    max-width: 260px;
    margin-inline: auto;
}

.filme__hero .hero__item{
    height: auto;
}

.filme__img {
    max-width: 248px;
    margin: auto;
    margin-bottom: 30px;
}

.filme__content {
}

.filme__content .hero__item__btn {
    flex-wrap: wrap;
    gap: 20px 20px;
    margin-right: -20px;
    flex-direction: row;
    max-width: 230px;
    margin: auto;
    justify-content: center;
}

.icon__link {
    width: 40px;
    height: 40px;
    border-width: 1px;
}

.icon__link img {
    max-width: 20px;
}
.filme__wrp {
    padding-top: 110px;
}

.Comment__text {
    padding-left: 20px;
    margin-top: 40px;
}
.filme__content > p {
    font-size: 14px;
    margin-bottom: 16px;
}

.Comment__btns {
    flex-direction: column-reverse;
    align-items: start;
}

.Comment__btns .thm_btn {
    margin: auto;
}

.sgl__Comment {
    align-items: flex-start;
    margin-top: 30px;
}

.sgl__Comment i {
    width: 45px;
    height: 45px;
}

.sgl__Comment h6 {
    margin-bottom: 6px;
    flex-wrap: wrap;
    gap: 5px;
}
.boxStyle { 
    padding: 20px; 
}
.Comment__box h3 {
    text-align: center;
}
section.Comment-area {
    margin-top: -30px;
}
.filme__content > ul{
    flex-wrap: wrap;
}
.hero__item.withoverlapping { 
    padding-bottom: 200px;
}
.content_playar_filter .title__top { 
    margin: 0;
}
.content_playar_contents > div h2 { 
    font-size: 20px;
}
.withoverlapping .filme__content > ul li a { 
    font-size: 14px;
}
.filme__content > ul { 
    gap: 3px; 
}
.duration-wrp ul { 
    gap: 5px;
}
section.content_v_playar.serie_unica .content_playar_filter .title__top ul.should_flex li{
    width: 100%;
}
.series_videos .select__blk {
    height: 80px; 
    padding-right: 0;
    margin-bottom: 30px;
}
section.content_v_playar.serie_unica{
    margin-top: 50px;
}
.series_videos { 
    padding: 20px; 
}
.series_videos .select__blk label{
    margin-bottom: 10px;
}
.series_videos:after, .serie_unica_series_slides:after { 
    width: 100px; 
    background: linear-gradient(270deg, #000000, transparent); 
}

.only__mobile .header__icon ul li a.userBtn {
    margin-right: 10px;
    margin-left: 0px;
    height: 30px;
    width: 30px;
}
.only__mobile .header__icon ul li .bar__icon a{
    height: 30px;
    padding: 0;
}
.humbergar span, .humbergar span:before, .humbergar span:after { 
    height: 2px;
    width: 25px; 
}
.humbergar span:before {
    top: -8px;
}
.humbergar span:after {
    bottom: -6px;
}
.duration-wrp p img {
    max-width: 15px; 
}
.hero__item .duration-wrp {
    justify-content: center;
}
.hero__item .duration-wrp p img {
    max-width: 14px; 
}
.duration-wrp {
    gap: 15px;
}

.login__form {
    padding: 30px 20px;
}

.login__content > a {
    margin-bottom: 36px;
    max-width: 169px;
}

.login-area {
    padding: 50px 0;
}
.social__btns{
    gap: 10px;
}





}
 
/* Large Mobile screen :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
.movie__wrp .movie__blk {
    margin-inline: auto;
    width: calc(50% - 13px);
}
.profile-area .container {
    width: 100%;
}

.profile__wrp .col-xl-3 {
    width: 50%;
}
.profile__wrp .movie__blk {
    max-width: 100%;
    margin-inline: auto;
}
}
